In this notebook, we will use numpy, pandas, matplotlib, and seaborn to learn a little about data science. In this IDE (VS Code), i use  expand_frame_repr to ensure the output is more readable, while in other IDE, like Goggle Collab, it's not requiered to add this syntax.

In [18]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt         #used for animating data
import seaborn as sns                   #used for improve matplotlib animation

pd.options.display.expand_frame_repr = False

First, we need to read the data, either from external source, like Excel, or from internal, like make a new array.

If you notice, in this code i use a char 'r' inside the filepath syntax. It's because somehow if i don't use it, there's an error with tag 'backlash'.

In [19]:
sales_df = pd.read_csv(r"D:\Pendidikan\Pelatihan\Samsung Inovation Campus Batch 5\Stage 3 - AI bootcamp\sales_data_sample.csv", encoding= 'latin-1')

print(sales_df.head(3))                 #.head(n) syntax is used to display first n row of array
print(sales_df.tail(3))                 #while .tail(n) display the last n row

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES       ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...                   ADDRESSLINE1  ADDRESSLINE2   CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
0        10107               30      95.70                2  2871.00  2/24/2003 0:00  Shipped       1         2     2003  ...        897 Long Airport Avenue           NaN    NYC    NY      10022     USA       NaN              Yu             Kwai    Small
1        10121               34      81.35                5  2765.90   5/7/2003 0:00  Shipped       2         5     2003  ...             59 rue de l'Abbaye           NaN  Reims   NaN      51100  France      EMEA         Henriot             Paul    Small
2        10134               41      94.74                2  3884.34   7/1/2003 0:00  Shipped       3         7     2003  ...  27 rue du Colonel Pierre Avia           NaN  Paris   NaN      75508  France      EMEA        Da Cunha           Daniel   Medium

[3 rows x 25 columns]
      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES       ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...           ADDRESSLINE1  ADDRESSLINE2      CITY STATE POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME DEALSIZE
2820        10386               43     100.00                4  5417.57   3/1/2005 0:00  Resolved       1         3     2005  ...     C/ Moralzarzal, 86           NaN    Madrid   NaN      28034   Spain      EMEA          Freyre            Diego   Medium
2821        10397               34      62.24                1  2116.16  3/28/2005 0:00   Shipped       1         3     2005  ...  1 rue Alsace-Lorraine           NaN  Toulouse   NaN      31000  France      EMEA          Roulet          Annette    Small
2822        10414               47      65.52                9  3079.44   5/6/2005 0:00   On Hold       2         5     2005  ...     8616 Spinnaker Dr.           NaN    Boston    MA      51003     USA       NaN         Yoshido             Juri   Medium

[3 rows x 25 columns]

In [20]:
sales_df['COUNTRY'].value_counts()
sales_df.describe(
)

        ORDERNUMBER  QUANTITYORDERED    PRICEEACH  ORDERLINENUMBER         SALES       QTR_ID     MONTH_ID     YEAR_ID         MSRP
count   2823.000000      2823.000000  2823.000000      2823.000000   2823.000000  2823.000000  2823.000000  2823.00000  2823.000000
mean   10258.725115        35.092809    83.658544         6.466171   3553.889072     2.717676     7.092455  2003.81509   100.715551
std       92.085478         9.741443    20.174277         4.225841   1841.865106     1.203878     3.656633     0.69967    40.187912
min    10100.000000         6.000000    26.880000         1.000000    482.130000     1.000000     1.000000  2003.00000    33.000000
25%    10180.000000        27.000000    68.860000         3.000000   2203.430000     2.000000     4.000000  2003.00000    68.000000
50%    10262.000000        35.000000    95.700000         6.000000   3184.800000     3.000000     8.000000  2004.00000    99.000000
75%    10333.500000        43.000000   100.000000         9.000000   4508.000000     4.000000    11.000000  2004.00000   124.000000
max    10425.000000        97.000000   100.000000        18.000000  14082.800000     4.000000    12.000000  2005.00000   214.000000